
<div class="p-field p-col-12 p-md-4 parrent-block">    
    <p-calendar [(ngModel)]="date" [numberOfMonths]="3" placeholder="Выберите дату" inputId="multiplemonths" dateFormat="dd.mm.yy"
        [disabledDays]="[0,6]"></p-calendar>
    <p-dropdown [options]="cities" [(ngModel)]="selectedCity1" placeholder="Выберите валюту" optionLabel="name"
        [showClear]="true"></p-dropdown>
        <button pButton pRipple type="button" label="Получить данные" style="width:20rem" (click)="getData(date, selectedCity1)"></button>    
        
</div>
<section class="section-table">
    <div class="parentblock-table">
<p-table [value]="curencies">
    <ng-template pTemplate="header">
        <tr>
            <th>Дата</th>
            <th>Наименование валюты</th>
            <th>Кол-во валюты</th>
            <th>Курс к кроне</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-curency>
        <tr>
            <td>{{curency.date}}</td>
            <td>{{curency.currencyName}}</td>
            <td>{{curency.currencyCount}}</td>
            <td>{{curency.currencyValue}}</td>
        </tr>
    </ng-template>
</p-table>
</div>
</section>